
{{#> html title='Calendar'}}
<script>

  $(() => {
    const calendar = $('#calendar').fullCalendar({
      events: [
    {
      title: 'majko',
      start: '2018-09-10',
      end: '2018-09-18',
      // Rendering: 'background',
      color: 'red',
    },
    {
      title: 'majko2',
      start: '2018-09-15',
      end: '2018-09-21',
      // Rendering: 'background',
    },
  ]
  })
  })
</script>
<div id='calendar'></div>

{{/html}}

