
{{#> html title='Calendar'}}
<h1><a href="/order">Objednávka</a></h1>
<hr>
<script>
  $(() => {
    const calendar = $('#calendar').fullCalendar({{{calendarAttr}}})
  })
</script>

<div id='calendar'></div>

{{/html}}

