
{{#> html title='Calendar'}}
<h1><a href="/order"><button class="fc">Objednávka</button></a></h1>
<hr>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2 class="header">Modal Header</h2>
    </div>
    <div class="modal-body">
    </div>
  </div>

</div>
<script>
var modal = document.getElementById('myModal');
var span = document.getElementsByClassName("close")[0];
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {  
        modal.style.display = "none";
    }
}
  const calendarAttr = {{{calendarAttr}}}
  $(() => {
    const calendar = $('#calendar').fullCalendar({...calendarAttr, eventClick: (calEvent, jsEvent, view) => {
    
 $('.modal-body').html(`<br><br>
 <b>Email:</b> ${calEvent.mail} <br> <b>Vek:</b> ${calEvent.age} <br> <b>Tel. číslo:</b> ${calEvent.phone} <br>
 <br> <b>Potvrdené:</b> ${calEvent.confirmed} <br>
 <b>Zaplatené:</b> ${calEvent.paid} 
  <br> <br>
  <b> Info: </b> ${calEvent.info}
<br>
<a href="/calendar/delete/${calEvent.id}"><button> Vymazať </button>
 `)
 $('.header').html(`${calEvent.name} ${calEvent.surname}`)
    $('#myModal').css('display', 'block')
    $('.popup').css('top', jsEvent.pageY)
    $('.popup').css('left', jsEvent.pageX)

  }
  })
  })
</script>

<div id='calendar'></div>

{{/html}}

