<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
      <link rel='stylesheet' href='style.css' />
    <link rel="manifest" href="manifest.json">
    <script src='lib/jquery.min.js'></script>
    <script src='lib/moment.min.js'></script>
    <script src='fullcalendar/fullcalendar.js'></script>
      <style>
        section {display:block}
    html {font-family: 'Roboto', sans-serif;}
    .horne input {display: block}
  </style>
  </head>
  <body>
   
      {{> @partial-block }}
</body>
</html>
