<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <style>
        section {display:block}
    html {font-family: 'Roboto', sans-serif;}
    .horne input {display: block}
  </style>
  </head>
  <body>
      {{> @partial-block }}
</body>
</html>
